<!-- Static Fuzz Image. -->
<div id="fuzz"></div>

<div id="screen">
    <div id="text">
        <div class="header">
            <div id="ascii-logo"><pre>                                                                                                    
                                                                                                    
                                                %%%%%                                               
                         %%%                    %%%%%                   %%%%                        
                         %%%                                             %%%                        
                                                                                                    
                                                                                                    
                              %%%%%%                             %%%%%%                             
                             %%%%%%%            %%%%%            %%%%%%                             
                               %%%            %%%%%%%%             %%                               
                                               %%%%%%%                                              
          %%%%%                                                                      %%%%%%         
           %%%%                         %%%%%           %%%%%                         %%%%          
                          %          %%%%%%%%%%%     %%%%%%%%%%%         %%                         
                       %%%%%%%%     %%%%%%%%%%%%%   %%%%%%%%%%%%%     %%%%%%%%                      
                       %%%%%%%%     %%%%%%%%%%%%%   %%%%%%%%%%%%%     %%%%%%%%                      
                         %%%%        %%%%%%%%%%%     %%%%%%%%%%%        %%%                         
                                        %%%%%           %%%%%                                       
                              %%%%%%%%%                       %%%%%%%%%                             
             %%%%           %%%%%%%%%%%%%                   %%%%%%%%%%%%%          %%%%%            
  %%%%%     %%%%%%%         %%%%%%%%%%%%%                   %%%%%%%%%%%%%         %%%%%%%      %%%%
             %%%%%          %%%%%%%%%%%%%                   %%%%%%%%%%%%%           %%%%            
                              %%%%%%%%%                       %%%%%%%%%                             
                                        %%%%%           %%%%%                                       
                         %%%%        %%%%%%%%%%%     %%%%%%%%%%%        %%%%                        
                       %%%%%%%%     %%%%%%%%%%%%%   %%%%%%%%%%%%%     %%%%%%%%                      
                       %%%%%%%%     %%%%%%%%%%%%%   %%%%%%%%%%%%%     %%%%%%%%                      
                          %%         %%%%%%%%%%%     %%%%%%%%%%%                                    
           %%%%                         %%%%%           %%%%%                         %%%%          
          %%%%%%                                                                     %%%%%%         
                                               %%%%%%%                                              
                               %%%            %%%%%%%%             %%%                              
                              %%%%%%           %%%%%%            %%%%%%%                            
                              %%%%%%                             %%%%%%                             
                                                                                                    
                                                                                                    
                         %%%                                             %%%                        
                         %%%%                   %%%%%                    %%%                        
                                                %%%%%                                               
                                                                                                    </pre></div>
            <div style="font-size: 270px;">
                querydano
            </div>
        </div>

    </div>
</div>