#screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
}

#fuzz {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../assets/fuzz.png") repeat;
    opacity: 60%;
    z-index: 0;
    pointer-events: none;
}

/* Used by all text structures. */
#text {
    font-family: VT323;
    z-index: 1;
    color: white;
    font-size: 45px;
    padding-left: 50px;
}

.header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

#ascii-logo {
    font-family: VT323;
    z-index: 1;
    color: white;
    font-size: 6px;
    padding-right: 30px;
}

.querydano-animation {
    overflow: hidden;
    width: 0;
    animation: typing;
    animation-duration: 3s;
    animation-timing-function: steps(21, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}